
@model MVC.ViewModels.VehicleModelViewModel


@{
    ViewData["Title"] = "Vehicle Model";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-secondary">Vehicle Models</h2>
        </div>
        <div class="col-6">
            <a asp-controller="VehicleModel" asp-action="Create" class="btn btn-primary">Create New Model</a>
        </div>
    </div>
    <div class="container p-4">
         
    </div>

    <br />

    @*Dodati if uvijet, ako nema nijedan vehiclemodel onda staviti neku message : "No Vehicle Models found." ili tako nesto*@
    <table class="table table-bordered" style="width:100%">
        <thead class="table-secondary">
            <tr>
                <th>
                    Vehicle Model Name
                </th>
                <th>
                    Vehicle Model Abrv
                </th>
                <th>
                    Make Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.VehicleModelList)
            {
                <tr>
                    <td width="40%">@obj.Name</td>
                    <td width="20%">@obj.Abrv</td>
                    <td width="20%">@Model.VehicleMakeList.SingleOrDefault(m => m.Id == obj.MakeId).Name</td>
                    <td class="text-center">

                        <div class="btn-group-sm">
                            <a asp-controller="VehicleModel" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary m-2">Edit</a>
                            <a asp-controller="VehicleModel" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger m-2">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
